export(BLOSUM80)
export(NNB)
export(NNK)
export(NNN)
export(NNS)
export(Trimer)
export(coverage)
export(detect)
export(efficiency)
export(getNeighbors)
export(getNofNeighbors)
export(libBuild)
export(makowski)
export(ppeptide)
