export(codons)
export(coverage)
export(detect)
export(efficiency)
export(generateCustom)
export(getNeighbors)
export(getNofNeighbors)
export(libBuild)
export(libscheme)
export(makowski)
export(ppeptide)
export(scheme)
